{% extends 'base.html' %}
{% load static %}
{% load fundraiser_tags_pwn %}
{% load humanize %}


{% block seotag %}
  <!-- This is the PayTrace End-to-End Encryption library: -->
  <script src="https://api.paytrace.com/assets/e2ee/paytrace-e2ee.js"></script>

  <title>Fundraiser | {{ fundraiser.title }}</title>
{% endblock seotag %}



{% block maincontent %}

    <h1 class="margintop100px">{{ fundraiser.title }}</h1>


    <p class="margintop50px marginbot40px"><a href="{% url 'fundraiser_app:home' %}">Return to fundraiser home page</a></p>


    <article class="fundraiser_topic" style="margin: 20px auto; padding: 0;">
      <h2><u>{{ fundraiser.title }}</u></h2>


      <p class="indigo_border flex-container">
        <span class="disp_inl_block" style="margin-right: 1em;">
          <span style="color: blueviolet;"><b><u>User:</u></b></span> <span class="webfont">{{ fundraiser.user }}</span>
        </span>

        <span class="disp_inl_block" style="margin-right: 1em;">
          <span style="color: blueviolet;"><b><u>Created:</u></b></span> {{ fundraiser.created }}
        </span>

        <span class="disp_inl_block" style="margin-right: 1em;">
          <span style="color: blueviolet;"><b><u>Ends:</u></b></span> {{ fundraiser.ends_on }}
        </span>

        <span class="disp_inl_block" style="margin-right: 1em;">
          <span style="color: blueviolet;"><b><u>Raised:</u></b></span> ${{ fundraiser.amount_raised|intcomma }} <b class="webfont"> / </b> ${{ fundraiser.amount_needed|intcomma }}
        </span>

        <span class="disp_inl_block" style="margin-right: 1em;">
          <span style="color: blueviolet;"><b><u>Percentage complete:</u></b></span> {{ fundraiser.get_percentage_raised }} %
        </span>

        <span class="disp_inl_block webfont">
          <a class="purp_yellow_trans" style="margin-right: 1em;" href="{% url 'fundraiser_app:rss2_fundraiser_feed' fundraiser.category.slug fundraiser.id fundraiser.slug %}">RSS 2 feed</a>
          <a class="purp_yellow_trans" href="{% url 'fundraiser_app:atom1_fundraiser_feed' fundraiser.category.slug fundraiser.id fundraiser.slug %}">Atom 1 feed</a>
        </span>
      </p>


      <p>{{ fundraiser.body|markdown_format_fundraiser }}</p>


      {% if fundraiser.user.id == request.user.id %}
        <p class="margintop50px"><a href="{% url 'fundraiser_app:edit_fundraiser_detail' fundraiser.category.slug fundraiser.id fundraiser.created.year fundraiser.created.month fundraiser.created.day fundraiser.slug %}">Edit this</a></p>
      {% endif %}


    </article>

    <hr>



    {% if donation %}
      <section>

        <h2 class="margintop100px"><u>Fake credit card info that works for this</u></h2>
        <p class="crimson"><em>(If you don't get the numbers right, you'll be shown an error)</em></p>
        <p><b><u>Street address:</u></b> 8320 your_choice st</p>
        <p><b><u>Zip code:</u></b> 85284</p>
        <p><b><u>Visa:</u></b> 4012 0000 9876 5439 -- 2020/12 -- 999</p>
        <p><b><u>Discover:</u></b> 6011 0009 9302 6909 -- 2020/12 -- 996</p>
        <p><b><u>Amex:</u></b> 3714 4963 5392 376 -- 2020/12 -- 9997</p>
        <p><b><u>Mastercard:</u></b> 5499 7400 0000 0057 -- 2020/12 -- 998 - <em class="crimson">(not working last I checked it)</em></p>


        <h2 class="margintop100px"><u>Donate?</u></h2>
        <form id="paytrace_donation_form" action="{% url 'fundraiser_app:donate' fundraiser.category.slug fundraiser.id fundraiser.created.year fundraiser.created.month fundraiser.created.day fundraiser.slug %}" method="POST">
          {{ donation.as_p }}
          {% csrf_token %}
          <input type="submit" value="Donate!" class="submitbox" id="donation_form_submit">
        </form>


        <div class="margintop50px clearfloats" id="donation_status"></div>

      </section>
    {% endif %}





    {% for msg in fundraiser.fundraisermsgupdate_set.all %}

        <div class="commentbox {% cycle 'indigo_border_with_center' 'indigo_border_with_center2' %}">
          <h3 class="comment-username"><u>{{ msg.user }}</u></h3>

          <p class="comment-date">{{ msg.created }}</p>

          {% if msg.is_updated %}
            <span class="comment-date disp_inl_block tnr">
              <b class="springgreen"><u>Updated:</u></b> {{ msg.updated }}
            </span>
          {% endif %}


          <div class="clearfloats">
            <h3><u>{{ msg.title }}</u></h3>
            <p class="comment-comment">{{ msg.body|markdown_format_fundraiser }}</p>
            {% if msg.user.id == request.user.id %}
            <!-- category_slug    msg_id   slug -->
              <p class="margintop50px">
                <a href="{% url 'fundraiser_app:edit_msg_update' fundraiser.category.slug msg.id fundraiser.slug %}">Edit</a> |
                <a href="{% url 'fundraiser_app:delete_msg_update' fundraiser.category.slug msg.id fundraiser.slug %}">Delete</a>
              </p>
            {% endif %}
          </div>
        </div>

    {% endfor %}



{% if form %}

    <h2 class="margintop100px"><u>Add an update??</u></h2>
    <form id="update_form" action="." method="POST">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Add an update!" class="submitbox">
    </form>

{% endif %}



{% endblock maincontent %}





{% block javascript %}
    <script>
        // This binds the form's submit event
        $(document).ready(function() {

        // do this first, or wrap in a try/catch to ensure the form is never un-hooked
        paytrace.hookFormSubmit("#paytrace_donation_form");

        // set the key from an AJAX call (in this case via a relative URL)
        paytrace.setKeyAjax("{% static 'public_key.pem' %}");


        });


        var donation_form = document.getElementById('paytrace_donation_form');
        var donation_form_submit = document.getElementById('donation_form_submit');
        var donation_status = document.getElementById('donation_status');

        function showLoading() {
            donation_status.innerHTML = '<h2 class="loading" style="width: 200px; padding: 5px;">Loading...</h2>';
            donation_form_submit.classList.add('disp_none');
        }

        donation_form.onsubmit = showLoading
        donation_status.innerHTML = '';  // if people reload page, set to empty





        function pageShown(evt) {
            if (evt.persisted) {    // If user clicks back button
                donation_status.innerHTML = '';   // Take away loading status
                donation_form_submit.classList.remove('disp_none');   // Give button back to donate
            } else {
              // pass
            }
        }



        window.addEventListener("pageshow", pageShown, false);



    </script>






{% endblock javascript %}
